<!DOCTYPE html>
<html>
    <head>
        <title>LoLScore</title>
        <meta http-equiv="refresh" content="60">
        <style>
            p {
                font-size: 33vh; 
                font-family: Arial, Helvetica, sans-serif; 
                text-shadow: 0px 2px 6px black;
                color: white;
                text-align: center;
                margin: 0;
            }
        </style>
    </head>
    <body style="color: transparent;">
        <p>
            {{ win }}W {{ loss }}L
        </p>
        <p>
            {{ kills }}K {{ deaths }}D
        </p>
    </body>
</html>